@model HospitalManagementSystem.ViewModel.RegisterViewModel

<h2>Register</h2>
<hr />
<br />

@{ if (ViewBag.RegisteredUser != null)
    {
        var successMessage = ViewBag.RegisteredUser;
        <div class="bg-success text-dark text-md-left">
            <p>successMessage</p>
        </div>
    }
    if (ViewBag.EmailAreadyRegistered != null)
    {
        var unsuccessfulMessage = ViewBag.EmailAreadyRegistered;
        <div class="bg-danger text-dark text-md-left">
            <p>unsuccessfulMessage</p>
        </div>
    }
}

@using (Html.BeginForm("Index", "Registers", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="col-md-6 mb-0">
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @placeholder = "First Name", @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        <br />
    </div>
    <div class="col-md-6 mb-0">
        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @placeholder = "Last Name", @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        <br />
    </div>
    <div class="col-md-6 mb-0">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Email", @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        <br />
    </div>
    <div class="col-md-6 mb-0">
        @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @placeholder = "Mobile Number", @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
        <br />
    </div>
    <div class="col-md-6 mb-0">
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @placeholder = "User Name", @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        <br />
    </div>
    <div class="col-md-6 mb-0">
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "Password", @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        <br />
    </div>
    <div class="col-md-6 mb-0">
        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @placeholder = "Confirm Password", @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        <br />
    </div>
    <hr />
    <div>
        <input type="submit" value="Register" class="btn btn-outline-info my-md-2 my-md-0" style="width:200px;" />
    </div>
}