@model HospitalManagementSystem.Models.Home.ContactUs

@{
    ViewBag.Title = "Contact Us";
}
<div>
    <p class=" h2 text-center text-secondary">Get In Touch With Us</p>
    <hr />
    <div>
        <div class="float-left w-75">

            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Full Name", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Email", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @placeholder = "Phone Number", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @placeholder = "Your Query...", @rows = 5 })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6">
                            <input type="submit" value="Submit" class="btn btn-outline-info my-md-2 my-md-0" style="width:200px;" />
                        </div>
                    </div>
                </div>
            }
        </div>
       
        <div class="float-right w-25">

            <br />
            <div>
                <p class="h3 text-warning">Headquater</p>
                <p class="text-justify text-success bg-transparent">
                    Address: Sydney, NSW <br />
                    Email: hms@hms.com <br />
                    Telephone: 0200000000
                </p>
            </div>
            <br />
            <hr />
            <br />
            <br />
            <div>
                <p class="h3 text-warning">Branch</p>
                <p class="text-justify text-success bg-transparent">
                    Address: Sydney, NSW <br />
                    Email: hms@hms.com <br />
                    Telephone: 0200000000
                </p>
            </div>
        </div>
    </div>
</div>